[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "~=2.25.1"
"discord.py" = "*"
ffmpeg = "~=1.4"
python-dotenv = "~=0.15.0"
numpy = "~=1.19.5"
irc = "~=19.0.1"
pynacl = "*"

[dev-packages]

[requires]
python_version = "3.7"
